/* MOBILES ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:48px;
    }
    .title-xl {
        font-size: 44px;
    }
    .title-lg {
        font-size: 40px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.5em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 375px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:48px;
    }
    .title-xl {
        font-size: 44px;
    }
    .title-lg {
        font-size: 40px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 390px) {
    a {
        font-size: 16px;
    }

    .title-xl {
        font-size: 44px;
    }
    .title-lg {
        font-size: 40px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 414px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:48px;
    }
    .title-xl {
        font-size: 44px;
    }
    .title-lg {
        font-size: 40px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 428px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:50px;
    }
    .title-xl {
        font-size: 46px;
    }
    .title-lg {
        font-size: 42px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 480px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:50px;
    }
    .title-xl {
        font-size: 48px;
    }
    .title-lg {
        font-size: 44px;
    }
    .title-md{
        font-size:36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm {
        font-size: 26px;
    }
    .title-xs {
        font-size: 26px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

/* TABLETS ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:50px;
    }
    .title-xl {
        font-size: 50px;
    }
    .title-lg {
        font-size: 46px;
    }
    .title-md{
        font-size:38px;
    }
    .title {
        font-size: 34px;
    }
    .title-sm {
        font-size: 30px;
    }
    .title-xs {
        font-size: 28px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    .price-container .body {
        color: #000;
        font-weight: normal;
    }
    
}

/* COMPUTERS --------------------------------------------------------------------------------- */

@media only screen and (min-width: 1280px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:54px;
    }
    .title-xl {
        font-size: 48px;
    }
    .title-lg {
        font-size: 44px;
    }
    .title-md{
        font-size:38px;
    }
    .title {
        font-size: 32px;
    }
    .title-sm {
        font-size: 28px;
    }
    .title-xs {
        font-size: 30px;
    }
    
    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 1366px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:54px;
    }
    .title-xl {
        font-size: 50px;
    }
    .title-lg {
        font-size: 46px;
    }
    .title-md{
        font-size:38px;
    }
    .title {
        font-size: 34px;
    }
    .title-sm {
        font-size: 30px;
    }
    .title-xs {
        font-size: 30px;
    }
    
    .pretitle-xl {
        font-size: 26px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 1440px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:58px;
    }
    .title-xl {
        font-size: 52px;
    }
    .title-lg {
        font-size: 48px;
    }
    .title-md{
        font-size:38px;
    }
    .title {
        font-size: 36px;
    }
    .title-sm {
        font-size: 32px;
    }
    .title-xs {
        font-size: 30px;
    }
    
    .pretitle-xl {
        font-size: 26px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 1536px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:64px;
    }
    .title-xl {
        font-size: 54px;
    }
    .title-lg {
        font-size: 50px;
    }
    .title-md{
        font-size:40px;
    }
    .title {
        font-size: 38px;
    }
    .title-sm {
        font-size: 34px;
    }
    .title-xs {
        font-size: 32px;
    }
    
    .pretitle-xl {
        font-size: 26px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 1600px) {
    a {
        font-size: 16px;
    }

    .title-xxl{
        font-size:68px;
    }
    .title-xl {
        font-size: 56px;
    }
    .title-lg {
        font-size: 52px;
    }
    .title-md{
        font-size:44px;
    }
    .title {
        font-size: 40px;
    }
    .title-sm {
        font-size: 36px;
    }
    .title-xs {
        font-size: 32px;
    }
    
    .pretitle-xl {
        font-size: 28px;
    }
    .pretitle-lg {
        font-size: 24px;
    }
    .pretitle {
        font-size: 22px;
    }
    
    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 1920px) {
    a {
        font-size: 18px;
    }

    .title-xxl{
        font-size:74px;
    }
    .title-xl {
        font-size: 60px;
    }
    .title-lg {
        font-size: 56px;
    }
    .title-md{
        font-size:48px;
    }
    .title {
        font-size: 44px;
    }
    .title-sm {
        font-size: 40px;
    }
    .title-xs {
        font-size: 34px;
    }
    
    .pretitle-xl {
        font-size: 30px;
    }
    .pretitle-lg {
        font-size: 26px;
    }
    .pretitle {
        font-size: 24px;
    }
    
    .body-xl {
        font-size: 20px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 12px;
        line-height: 1.6em;
    }
    
}

@media only screen and (min-width: 2560px) {
    a {
        font-size: 18px;
    }

    .title-xxl{
        font-size:74px;
    }
    .title-xl {
        font-size: 60px;
    }
    .title-lg {
        font-size: 56px;
    }
    .title-md{
        font-size:48px;
    }
    .title {
        font-size: 44px;
    }
    .title-sm {
        font-size: 40px;
    }
    .title-xs {
        font-size: 34px;
    }
    
    .pretitle-xl {
        font-size: 30px;
    }
    .pretitle-lg {
        font-size: 26px;
    }
    .pretitle {
        font-size: 24px;
    }
    
    .body-xl {
        font-size: 20px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 12px;
        line-height: 1.6em;
    }
}