/* MOBILES ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) {
    .section-content {
        padding: 30px 20px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 36px !important;
    }
    .footer .logo {
        width: 20%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
        margin-top: 0;
    }
    .footer .footer-support.footer-nav a{
      font-size: 14px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 8px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content.content-link {
        cursor:pointer;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 12px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 375px) {
    .section-content {
        padding: 30px 20px;
    }

    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 36px !important;
    }
    .footer .logo {
        width: 20%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
    .footer .footer-support.footer-nav a{
      font-size: 14px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 8px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 12px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 390px) {
    .section-content {
        padding: 30px 20px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 38px !important;
    }
    .footer .logo {
        width: 25%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
    .footer .footer-support.footer-nav a{
      font-size: 14px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 8px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 12px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 414px) {
    .section-content {
        padding: 30px 20px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 40px !important;
    }
    .footer .logo {
        width: 25%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
    .footer .footer-support.footer-nav a{
      font-size: 14px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 8px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 12px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 428px) {
    .section-content {
        padding: 30px 20px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 40px !important;
    }
    .footer .logo {
        width: 25%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
    .footer .footer-support.footer-nav a{
      font-size: 14px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 8px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 12px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 480px) {
    .section-content {
        padding: 30px 20px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 42px !important;
    }
    .footer .logo {
        width: 30%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 100%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 15px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 12px;
    }
    .footer .validation-input .checkmark{
      width:18px;
      height:18px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 15px;

        width: 40px;
        height: 40px;
        font-size: 14px;
    }

    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 14px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 140px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 18px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
    
}
@media only screen and (min-width: 768px) {
    .section-content {
        padding: 50px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 20px;
    }
    .footer .owl-carousel .item img {
        width: 42px !important;
    }
    .footer .logo {
        width: 30%;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 30px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-start;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 15px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 14px;

        width: 34px;
        height: 34px;
        font-size: 14px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 20px;
    }
    .header .announcement-content {
        width: 100%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 10px 20px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 148px;
        object-position: center;
    }
    .header .nav-icons {
        gap: 20px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 20px;
    }
}

/* COMPUTERS --------------------------------------------------------------------------------- */

@media only screen and (min-width: 1280px) {
    .section-content {
        padding: 50px 50px;
    }

    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 28px !important;
    }
    .footer .logo {
        width: 100px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 22px;
    }
    .footer .footer-nav a {
        font-size: 14px;
    }
    .footer .newsletter form input {
        font-size: 14px;
    }
    .footer .contact {
        font-size: 14px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 15px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 25px;

        width: 46px;
        height: 46px;
        font-size: 16px;
    }

    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 150px;
        object-position: left;
    }
    .header .nav-items {
        gap: 30px;
    }
    .header .nav-items a {
        font-size: 14px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 16px;
    }
}
@media only screen and (min-width: 1366px) {
    .section-content {
        padding: 50px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 28px !important;
    }
    .footer .logo {
        width: 100px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 22px;
    }
    .footer .footer-nav a {
        font-size: 14px;
    }
    .footer .newsletter form input {
        font-size: 14px;
    }
    .footer .contact {
        font-size: 14px;
    }
    .footer .newsletter form button {
        width: 30px;
        height: 30px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 15px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 25px;

        width: 46px;
        height: 46px;
        font-size: 16px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 152px;
        object-position: left;
    }
    .header .nav-items {
        gap: 30px;
    }
    .header .nav-items a {
        font-size: 14px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 16px;
    }
}
@media only screen and (min-width: 1440px) {
    .section-content {
        padding: 50px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 40px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 28px !important;
    }
    .footer .logo {
        width: 100px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 23px;
    }
    .footer .footer-nav a {
        font-size: 14px;
    }
    .footer .newsletter form input {
        font-size: 14px;
    }
    .footer .contact {
        font-size: 14px;
    }
    .footer .newsletter form button {
        width: 35px;
        height: 35px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 15px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 25px;

        width: 46px;
        height: 46px;
        font-size: 16px;
    }

    
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 14px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 14px;
    }
    
    .header .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 154px;
        object-position: left;
    }
    .header .nav-items {
        gap: 30px;
    }
    .header .nav-items a {
        font-size: 14px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 1536px) {
    .section-content {
        padding: 60px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 32px !important;
    }
    .footer .logo {
        width: 100px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 24px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 35px;
        height: 35px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 16px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 50px;

        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 16px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 16px;
    }
    
    .header .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 158px;
        object-position: left;
    }
    .header .nav-items {
        gap: 30px;
    }
    .header .nav-items a {
        font-size: 16px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 1600px) {
    .section-content {
        padding: 70px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 50px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 32px !important;
    }
    .footer .logo {
        width: 100px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 40px;
        height: 40px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 16px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 50px;

        width: 50px;
        height: 50px;
        font-size: 18px;
    }

    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 16px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 16px;
    }
    
    .header .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 162px;
        object-position: left;
    }
    .header .nav-items {
        gap: 40px;
    }
    .header .nav-items a {
        font-size: 16px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
    
}
@media only screen and (min-width: 1920px) {
    .section-content {
        padding: 80px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 70px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 32px !important;
    }
    .footer .logo {
        width: 105px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 45px;
        height: 45px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 16px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: 50px;
        width: 55px;
        height: 55px;
        font-size: 20px;
    }


    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 16px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 16px;
    }
    
    .header  .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img {
        width: 166px;
        object-position: left;
    }
    .header .nav-items {
        gap: 40px;
    }
    .header .nav-items a {
        font-size: 16px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
@media only screen and (min-width: 2560px) {
    .section-content {
        padding: 80px 50px;
    }
    /* FOOTER --------------------------------------------------------------------------------- */
    .footer .container:first-child {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer .container:last-child {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer .container:last-child .row {
        --bs-gutter-x: 80px;
        --bs-gutter-y: 0;
    }
    .footer .owl-carousel .item {
        gap: 15px;
    }
    .footer .owl-carousel .item img {
        width: 32px !important;
    }
    .footer .logo {
        width: 120px;
    }
    .footer .socials {
        gap: 30px;
    }
    .footer .socials img {
        width: 25px;
    }
    .footer .footer-nav a {
        font-size: 16px;
    }
    .footer .newsletter form input {
        font-size: 16px;
    }
    .footer .contact {
        font-size: 16px;
    }
    .footer .newsletter form button {
        width: 45px;
        height: 45px;
    }
    .footer .payment {
        width: 80%;
    }

    .footer .switcher {
        justify-content: flex-end;
    }
  
    .footer .footer-support.footer-nav a{
      font-size: 16px;
    }
    .footer .validation-checkbox .label,
    .footer .validation-checkbox .label a{
      font-size: 16px;
    }
    .footer .validation-input .checkmark{
      width:20px;
      height:20px;
    }
  
    /* FLOAT NAV --------------------------------------------------------------------------------- */
    .float-nav button {
        --btn-pos: -50px;
        width: 55px;
        height: 55px;
        font-size: 20px;
    }
  
    /* HEADER --------------------------------------------------------------------------------- */
    .header .announcement-bar .container {
        padding: 10px 50px;
    }
    .header .announcement-content {
        width: 90%;
        font-size: 16px;
    }
    .header .announcement-content span,
    .header .announcement-content a{
        font-size: 16px;
    }
    
    .header  .container {
        padding: 16px 50px;
    }
    .header .logo img,
    .predictive-search .logo img{
        width: 166px;
        object-position: left;
    }
    .header .nav-items {
        gap: 40px;
    }
    .header .nav-items a {
        font-size: 16px;
    }
    .header .nav-icons {
        gap: 25px;
    }
    .header .nav-icons a img,
    .header .nav-icons button img {
        height: 18px;
    }
}
