/* MOBILES ----------------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
    a {
        font-size: 16px;
    }
    .l-h-37{
        line-height: 37px;
        font-size: 16px;
    }
    .pd16{
        padding:0 16px;
    }
    .title-xxl {
        font-size: 48px;
    }
    .title-xl {
        font-size: 44px;
    }
    .title-lg {
        font-size: 40px;
    }
    .title-md {
        font-size: 36px;
    }
    .title {
        font-size: 28px;
    }
    .title-sm,
    .title-xs {
        font-size: 26px;
    }

    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }

    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.4em;
    }
    .body {
        font-size: 14px;
        line-height: 1.4em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
}

/* TABLETS ----------------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    a {
        font-size: 16px;
    }

    .title-xxl,
    .title-xl {
        font-size: 50px;
    }
    .title-lg {
        font-size: 46px;
    }
    .title-md {
        font-size: 38px;
    }
    .title {
        font-size: 34px;
    }
    .title-sm {
        font-size: 30px;
    }
    .title-xs {
        font-size: 28px;
    }

    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }

    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }

    .price-container .body {
        color: #000;
        font-weight: normal;
    }
}

/* COMPUTERS --------------------------------------------------------------------------------- */
@media only screen and (min-width: 1280px) {
    a {
        font-size: 16px;
    }

    .title-xxl {
        font-size: 54px;
    }
    .title-xl {
        font-size: 48px;
    }
    .title-lg {
        font-size: 44px;
    }
    .title-md {
        font-size: 38px;
    }
    .title {
        font-size: 32px;
    }
    .title-sm {
        font-size: 28px;
    }
    .title-xs {
        font-size: 30px;
    }

    .pretitle-xl {
        font-size: 24px;
    }
    .pretitle-lg {
        font-size: 22px;
    }
    .pretitle {
        font-size: 20px;
    }

    .body-xl {
        font-size: 18px;
        line-height: 1.6em;
    }
    .body-lg {
        font-size: 16px;
        line-height: 1.6em;
    }
    .body {
        font-size: 14px;
        line-height: 1.6em;
    }
    .body-sm {
        font-size: 12px;
        line-height: 1.6em;
    }
    .body-xs {
        font-size: 10px;
        line-height: 1.6em;
    }
}
