/* MOBILES ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 0px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}
@media only screen and (min-width: 375px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}
@media only screen and (min-width: 390px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}
@media only screen and (min-width: 414px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}
@media only screen and (min-width: 428px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}
@media only screen and (min-width: 480px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:12px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 15px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:12px;
        padding: 8px 12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:80px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:8px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:12px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:16px;
        width:16px;
    }
    #popup-cart .cart-ymal{
        padding: 10px 20px;
    }
    #popup-cart .empty-body{
        padding: 30px 20px;
    }
}

/* TABLETS ----------------------------------------------------------------------------------- */

@media only screen and (min-width: 768px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:15px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 20px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:13px;
        padding: 10px 15px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:90px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:10px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:13px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:18px;
        width:18px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 35px 25px;
    }
}


/* LAPTOPS --------------------------------------------------------------------------------- */

@media only screen and (min-width: 1280px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 25px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 15px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:90px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:18px;
        width:18px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 35px 25px;
    }
}
@media only screen and (min-width: 1366px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 30px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 15px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:90px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 35px 25px;
    }
}
@media only screen and (min-width: 1440px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 30px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 15px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:100px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:12px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 40px 30px;
    }
}
@media only screen and (min-width: 1536px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 35px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 15px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:100px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:14px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 40px 30px;
    }
}
@media only screen and (min-width: 1600px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 35px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 20px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:100px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:14px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 40px 30px;
    }
}

/* COMPUTERS --------------------------------------------------------------------------------- */
@media only screen and (min-width: 1920px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 40px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 20px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:100px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:14px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 40px 30px;
    }
}
@media only screen and (min-width: 2560px) {
    #popup-cart .cart .cart-body .product-cart .product-title{
        font-size:16px;
    }
    #popup-cart .discount-wrapper button{
        padding:0 40px;
    }
    #popup-cart .discount-wrapper .discount-form input{
        font-size:14px;
        padding: 10px 20px;
    }
    #popup-cart .cart .cart-body .product-cart .product-image{
        width:100px;
    }
    #popup-cart .cart .cart-body .product-cart{
        gap:14px;
    }
    #popup-cart .cart .cart-body .product-cart .product-variant{
        font-size:14px;
    }
    #popup-cart .cart .cart-body .product-cart .wishlist-button svg{
        height:20px;
        width:20px;
    }
    #popup-cart .cart-ymal{
        padding: 20px 30px;
    }
    #popup-cart .empty-body{
        padding: 40px 30px;
    }
}